/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #e2e2e2;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

body{
  background-color: red;
}

nav{
  background-color: #fff;
  margin-top: 30px;
  float: right;
}
nav ul li{
  display: inline;
  background-color: red;
}


.hamburger{
  visibility: hidden;
}
.headlayout{
  vertical-align: middle;
  background-color: #25262c;
  padding-top: 10px;
  background-image: url(/images/border.png);
  background-repeat: repeat-x;
}

.headerlogo{
/*   padding-left: 150px; */
  height: 73px;
  background-color: #25262c;
  float: left;
}

div h1{
  padding: 10px;
  font-size: 1.4em;
  color: #1acac8;
  background-color: #fff;
}
.flappy{
  /* z-index: -1; */
  float: left;  
}
.scenery{
  background-image: url(/images/scenery.png);
  /* min-width: 400px; */
  /* width: auto; */
  height: 266px;
  background-repeat: no-repeat;
  background-position: right;
}

div.features{
  box-shadow: 1px 1px 16px #999999;
}

div.features ul li{
  background-color: #1acac8;
  color: #25262C;
  text-align: center;
  padding: 1em;
  border-top: thin solid #123123;
}
div.features ul li:first-child{
  /*feature header*/
  background-color: #25262C;
  color: #1acac8;
  text-align: center;
  /* padding: 1em; */
}


.content{
  background-color: #ffffff;
}
span{
  color: #e2e2e2;
}

p{
  text-transform: none;
  color: #25262C;
  margin-top: .5em;
  padding: 1em;
  font-size: 1.5em;
  line-height: 1.2em;
  background-color: #ffffff;
  letter-spacing: 1px;
}
.footmap{
  text-align: center;
  background-color: #25262C;
  background-image: url(/images/border.png);
  background-repeat: repeat-x;
  padding-bottom: 1em;
}
.footcol1, .footcol2, .footcol3{
height: 200px;
  display: inline-block;
  background-color: #25262c;
  font-size: .9em;
  line-height: 1.8em;
  text-align: left;
  background-color: #fff;
  vertical-align: middle;
  margin-top: 20px;
  padding: 10px;
}

.footmark{
  text-align: center;
  vertical-align: middle;
  /* margin: 5%; */

}
a{
  color: #1acac8;
  text-decoration: none;
}

a:hover{
  color: #ffffff;
}

/* small */
@media only screen and (max-width: 450px){
  nav{
    visibility: hidden;
    display: none;
  }
  .hamburger{
    visibility: visible;
    background-color: red;
  }
  div h1{
    width: 12em;
  }
  .scenery{
    height: 266px;
    background-position: right, 0;
  }
  header{
    max-width: 420px;
  }
  .content{
    max-width: 420px;
  }
  footer{
    max-width: 420px;
  }
  .footcol2{
    visibility: hidden;
    display: none;
  }
  .footcol1, .footcol3{
    width: 40%;
    background-color: red;
  }
}

/* medium */
  @media only screen and (min-width: 451px) and (max-width: 700px){
  nav{
    visibility: visible;
    display: none;
  }
  div h1{
    width: 10em;
  }
  .scenery{
    height: 266px;
    background-position: right, 0;
  }
  header{
    max-width: 960px;
  }
  .content{
    max-width: 960px;
  }
  footer{
    max-width: 960px;
  }
  .footcol1, .footcol3{
    width: 20%;
    background-color: blue;
  }
  .footcol2{
    width: 40%;
    background-color: blue;
  }
} 

/* large */
  @media only screen and (min-width: 701px) and (max-width: 960px){
  div h1{
    width: 10em;
  }
  header{
    max-width: 1200px;
  }
  .content{
    max-width: 1200px;
  }
  footer{
    max-width: 1200px;
  }
  .footmark{
    color: #25262c;
    background-color: #1acac8;
    vertical-align: text-bottom;
    /* width: 90%; */
    height: 2em;
  }
  nav{
  border-bottom: 5px solid #1acac8;
  }
  nav ul li:hover{
  border-bottom: 5px solid #ffffff;
  }
}

/* VERY LARGE */
  @media only screen and (min-width: 961px){
  nav{
    visibility: visible;
    display: none;
  }
  div h1{
    width: 250px;
  }
  .scenery{
    height: 266px;
    background-position: right, 0;
  }
  header{
    max-width: 1200px;
  }
  .content{
    max-width: 1200px;
  }
  footer{
    max-width: 1200px;
  }
  .footcol1, .footcol3{
    width: 40%;
    background-color: blue;
  }
  .footcol2{
    width: 40%;
    background-color: blue;
  }
}   
/* dark blue:
#25262C  

teal:
#1ACAC8  

white:
#FFFFFF  

"grey":
#E2E2E2 

darkteal
#13918E  
*/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
} 